@import "seattletimes";
@import "chartist";

body {
  font-family: @df-sans;
  padding: 0;
  margin: 0 auto;
  max-width: 630px;
  font-size: 16px;
}

.outmost {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
}

.hidden {
  display: none;
}

.chatter {
  text-align: center;
  padding-bottom: 20px;

  .title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
  }
}

.table-title {
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
}
.table-chatter {
  font-style: italic;
  text-align: center;
  color: @df-middle-gray;
  font-size: 12px;
  padding-bottom: 8px;
}
.table table {
  font-size: 14px;
  margin: auto;
  border-collapse: collapse;

  td {
    border-bottom: 1px solid @df-border-gray;
    padding: 4px 20px;
  }

  .button {
    td {
      padding: 0;
      border-bottom: 0;
    }
  }
}
.swatch {
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 2px;
}
td.right {
  text-align: right;
}
.seemore, .seeless {
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  background: lighten(#679bd2, 30%);
  font-weight: bold;
  padding: 6px;

  &:hover {
    background: lighten(#679bd2, 20%);
  }
}

.tooltip {
    position: absolute;
    display: inline-block;
    min-width: 5em;
    padding: .4em;
    background: #f7f6f5;
    border: 2px solid #ffffff;
    color: #453D3F;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    stroke: #679BD2;
    z-index: 1;
}

.ct-bar {
  stroke-width:percentage(1/20);
}

.ct-series-a .ct-bar {
  stroke: #679BD2;
}
.ct-series-a .ct-bar:hover{
  stroke: #585858;
}
.ct-series-b .ct-bar {
  stroke: #F26649;
}
.ct-series-b .ct-bar:hover{
  stroke: #585858;
}
.ct-series-c .ct-bar {
  stroke: #FEBD3E;
}
.ct-series-c .ct-bar:hover{
  stroke: #585858;
}
.ct-series-d .ct-bar {
  stroke: #7ACCC8;
}
.ct-series-d .ct-bar:hover{
  stroke: #585858;
}
.ct-series-e .ct-bar {
  stroke: #C08C9C;
}
.ct-series-e .ct-bar:hover{
  stroke: #585858;
}
.ct-series-f .ct-bar {
  stroke: #D9D9D9;
}
.ct-series-f .ct-bar:hover{
  stroke: #585858;
}

.top5 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
      display: inline-block;
  position:relative;

  .top5title {
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    // position: absolute;
    // top: 0;
    // left: 0;
  }
  .ct-perfect-fifth:before {
    display: block;
    float: left;
    width: 0;
    height: 0;
    padding-bottom: 90%;
}
  .top5img {
      padding: 0;
      text-align:center;
    max-width: percentage(1/6);
    height:auto;
    // max-height: 70px;
  }
}

.source {
  padding-top: 30px;
}

.source, .credit {
  text-align: right;
  font-size:11.5px;
  color: gray;
}


// .ct-grid {
//   stroke: transparent;
// }

.ct-horizontal {
  stroke: transparent;
}
.ct-label.ct-horizontal {
  @media @mobile {
    font-size: 10px;
  }
}

.ct-vertical {
  stroke-dasharray: 0;
}

.ct-horizontal {
//   -ms-transform: rotate(-90deg); /* IE 9 */
// -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
// transform: rotate(-90deg);
// // padding-right: 10px;
// width: auto;
// height: auto;

// @media @mobile {
//   padding-right: 15px;
// }
}
